<div class = "centrar-titulo">
  
  <h1>Editar contacto</h1>

</div>

<span class = "centrar-mensaje">{{textoModificacion}}</span>

<div class="centrar-editar-contactos">

    <form [formGroup]="form">
   
        <mat-form-field appearance="fill" class = "campo-nombre">
          <mat-label>Introduce el nombre</mat-label>
          <input matInput type="text" formControlName="nombre" maxlength="20">
        </mat-form-field>
        
        <br>
        
        <mat-form-field appearance="fill" class = "campo-apellidos">
          <mat-label>Introduce los apellidos
          </mat-label>
          <input matInput type="text" formControlName="apellidos" maxlength="30">
        </mat-form-field>

        <hr/>

        <mat-form-field appearance="fill" class = "campo-primer-telefono">
          <mat-label>Introduce el teléfono
          </mat-label>
          <input matInput type="tel" formControlName="telefono" maxlength="9" minlength="9" patterm = "^[0-9]{9}">
          <mat-icon matSuffix>phone</mat-icon>
        </mat-form-field>
        
        <div class = "campo-error" *ngIf="this.form.controls['telefono'].hasError('pattern')">
          El teléfono debe tener 9 dígitos
        </div>

        <br/>

        <mat-form-field appearance="fill" class = "campo-segundo-telefono">
          <mat-label>Introduce otro teléfono
          </mat-label>
          <input matInput type="tel" formControlName="segundoTelefono" maxlength="9" minlength="9">
          <mat-icon matSuffix>phone</mat-icon>
        </mat-form-field>
        
        <div class = "campo-error" *ngIf="this.form.controls['segundoTelefono'].hasError('pattern')">
          El teléfono debe tener 9 dígitos
        </div>
        
        <br/>

        <hr/>

        <mat-form-field appearance="fill" class = "campo-primer-correo">
          <mat-label>Introduce el correo
          </mat-label>
          <input matInput type="email" formControlName="correo" maxlength="70">
          <mat-icon matSuffix>alternate_email</mat-icon>
        </mat-form-field>
        
        <div class = "campo-error" *ngIf="this.form.controls['correo'].hasError('email')">
          El formato del correo es incorrecto
        </div>

        <br/>
        
        <mat-form-field appearance="fill" class = "campo-segundo-correo">
          <mat-label>Introduce otro correo
          </mat-label>
          <input matInput type="email" formControlName="segundoCorreo" maxlength="70">
          <mat-icon matSuffix>alternate_email</mat-icon>
        </mat-form-field>
      
        <div class = "campo-error" *ngIf="this.form.controls['segundoCorreo'].hasError('email')">
          El formato del correo es incorrecto
        </div>

        <br/>
        
        <a button mat-raised-button color="warn" routerLink="/signup" class = "boton-eliminar-contacto">
            Eliminar contacto
        </a>

        <button mat-raised-button color="primary"  (click)="onSubmit()" class = "boton-modificar-contacto">Modificar contacto</button>

        <a mat-stroked-button color="success"  routerLink="/contactos" class = "boton-volver-contacto">
          Volver
        </a>
        
    </form>
    
</div>
