<div class = "titulo-usuario">

    <h1>Listado de usuarios</h1>
  
  </div>
  
  <div class = "contacto-eliminado">
    
    {{mensajeUsuarioEliminado}}
  
  </div>
  
  <div>
    
    <form [formGroup]="form">
      
      <mat-form-field appearance="fill" class = "campo-buscador">
        <mat-label>Introduce el usuario</mat-label>
        <input matInput type="text" formControlName="buscador" maxlength="20">
      </mat-form-field>
    
      <button mat-raised-button color="primary"  (click)="onSubmit()" class = "boton-buscador-usuarios">Buscar usuario</button>
    
      <button *ngIf="mostrarDeshacerBusqueda" mat-raised-button  (click)="deshacerBusqueda()" class = "boton-deshacer-busqueda">Deshacer búsqueda</button>
    
    </form>

  </div>

  <div class = "tabla-usuarios">

    <table mat-table [dataSource]="usuarios" class="mat-elevation-z8">
  
        <ng-container matColumnDef="usuario">
          <th mat-header-cell *matHeaderCellDef>Usuario</th>
          <td mat-cell *matCellDef="let usuario"> {{usuario.usuario}} </td>
        </ng-container>
  
        <ng-container matColumnDef="ver-contactos">
          <th mat-header-cell *matHeaderCellDef>Ver contactos</th>
          <td mat-cell *matCellDef="let usuario"> 
            <a button mat-raised-button [routerLink]="['/usuarios', usuario.id]">
                <mat-icon>visibility</mat-icon>
            </a> 
          </td>
        </ng-container>

        <ng-container matColumnDef="borrar-usuario">
          <th mat-header-cell *matHeaderCellDef>Borrar usuario</th>
          <td mat-cell *matCellDef="let usuario"> 
            <a button mat-raised-button  class = "borrar-usuario" (click)="mostrarDialogEliminarUsuario('{{usuario.id}}')">
              <mat-icon>delete</mat-icon>
            </a> 
          </td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="columnasVisibles"></tr>
        <tr mat-row *matRowDef="let row; columns: columnasVisibles;"></tr>
        
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" [attr.colspan]="columnasVisibles.length">
            No se han encontrado uusarios.
          </td>
        </tr>
        
    </table>
  
  </div>