<div class = "titulo-contacto">

  <h1>Listado de contactos</h1>

</div>

<div class = "contacto-eliminado">
  
  {{mensajeContactoEliminado}}

</div>

<div>
<form [formGroup]="form">
   
  <mat-form-field appearance="fill" class = "campo-buscador">
    <mat-label>Introduce el nombre o apellidos a buscar</mat-label>
    <input matInput type="text" formControlName="buscador" maxlength="20">
  </mat-form-field>

  <button mat-raised-button color="primary"  (click)="onSubmit()" class = "boton-buscador-contactos">Buscar contacto</button>

  <button *ngIf="mostrarDeshacerBusqueda" mat-raised-button  (click)="deshacerBusqueda()" class = "boton-deshacer-busqueda">Deshacer búsqueda</button>


</form>
</div>

<div class = "tabla-contactos">

  <table mat-table [dataSource]="contactos" class="mat-elevation-z8">

      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let contacto"> {{contacto.nombre}} </td>
      </ng-container>

      <ng-container matColumnDef="apellidos">
        <th mat-header-cell *matHeaderCellDef> Apellidos </th>
        <td mat-cell *matCellDef="let contacto"> {{contacto.apellidos}} </td>
      </ng-container>

      <ng-container matColumnDef="telefono">
        <th mat-header-cell *matHeaderCellDef> Teléfono/s </th>
        <td mat-cell *matCellDef="let contacto"> 

          <span *ngFor="let telefonos of contacto.telefonos">{{telefonos.numero}}<br/></span>
 
        </td>
      </ng-container>

      <ng-container matColumnDef="editar">
        <th mat-header-cell *matHeaderCellDef> Editar </th>
        <td mat-cell *matCellDef="let contacto"> 


          <a mat-stroked-button  [routerLink]="['/contactos', contacto.id]">
            
            <mat-icon aria-hidden="false" aria-label="Editar">edit</mat-icon>
            
          </a>
 
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnasVisibles"></tr>
      <tr mat-row *matRowDef="let row; columns: columnasVisibles;"></tr>
      
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" [attr.colspan]="columnasVisibles.length">
          No se han encontrado contactos.
        </td>
      </tr>
      
  </table>

</div>