@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.centrar-titulo{    
    
    margin-top:150px;
    display: flex;
    justify-content: center;
    align-items: center;   
}

.centrar-login{
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.campo-usuario{

    width: 300px;
    margin-top:50px
}

.campo-password{
    
    width: 300px;
}

.error-validacion{
    color: red;
}

.error-login{

    color: red;
}

.boton-nuevo-usuario{
    margin-left: 15px;
    width: 210px;
}