<mat-toolbar *ngIf="usuarioService.estaLogueado()">
    <div>
        <button mat-mini-fab aria-label="Página principal" routerLink="contactos">
            <mat-icon>home</mat-icon>
        </button>
    </div>
    <!--
    <div>
        <button mat-mini-fab aria-label="Página principal" routerLink="/usuarios">
            <mat-icon>home</mat-icon>
        </button>
    </div>
    -->
    <a class = "agenda" routerLink="contactos">Agenda</a>  
    
    <a routerLink = "crear-contacto" class = "crear-contacto">Crear contacto</a>  
    <a routerLink = "logout" class = "logout">Logout</a>  
</mat-toolbar>