.centrar-titulo{    

    display: flex;
    justify-content: center;
    align-items: center;   
}

.centrar-editar-contactos{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.campo-nombre{
    width:450px !important;
}

.campo-apellidos{
    width:450px !important;
}

.campo-primer-telefono{
    width:450px !important;
    margin-right: 10px;
}

.campo-segundo-telefono{
    width:450px !important;
}

.campo-primer-correo{
    width:450px !important;
    margin-right: 10px;
}

.campo-segundo-correo{
    width:450px !important;
}

.boton-crear-contacto{
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-top:10px;
    margin-bottom:10px;
    width:450px;
}

.boton-volver-contacto{
    display: flex;
    justify-content: center;
    align-items: center;
    width:450px; 
}

.centrar-mensaje{
    display: flex;
    justify-content: center;
    align-items: center;   
    color:green;
    font-size: 20px;
    font-weight: bold;
}

.campo-error-primer-telefono{
    margin-right: 10px;
    color:red;
    
}

.campo-error-segundo-telefono{
    color:red;
}

.campo-error{
    color:red;
}

hr{
    width:430px; 
    margin-right:20px;
}